spring:
  application:
    name: game
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nailoong
    username: root
    password: root

# 数据库 orm 配置
jimmer:
  dialect: org.babyfish.jimmer.sql.dialect.MySqlDialect
  show-sql: true
  pretty-sql: true
  database-validation-mode: ERROR

# 程序启动端口
server:
  port: 1180

# Dubbo 配置
dubbo:
  application:
    name: game-server
  registry:
    address: nacos://127.0.0.1:8848
    register-mode: instance
  protocol:
    name: dubbo
    port: 20881
  provider:
    timeout: 10000