spring:
  application:
    name: GameServer
    appid: 4-0-0-1
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nailoong
    username: root
    password: root
  config:
    import: "consul:"
  # gRPC 服务器配置
  grpc:
    server:
      address: 127.0.0.1:1145
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        # game 注册服务
        register: true
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}-${spring.application.appid}
        port: ${server.port}
        prefer-ip-address: true
        ip-address: localhost
        metadata:
          appid: ${spring.application.appid}
          grpc-server: ${spring.grpc.server.address}
          max-players: 1000
          region: cn

# 数据库 orm 配置
jimmer:
  dialect: org.babyfish.jimmer.sql.dialect.MySqlDialect
  show-sql: true
  pretty-sql: true
  database-validation-mode: ERROR

# 程序启动端口
server:
  port: 1180