spring:
  application:
    name: GateServer
  # 数据库配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/nailoong
    username: root
    password: root
  config:
    import: "consul:"
  # gRPC服务器配置 - gate server作为gRPC服务器接收game server的消息
  grpc:
    server:
      address: 127.0.0.1:1146
  cloud:
    consul:
      host: localhost
      port: 8500
      discovery:
        # gate 应该去发现 game
        register: false
        service-name: ${spring.application.name}
        instance-id: ${spring.application.name}-01
        port: ${server.port}
        prefer-ip-address: true
        ip-address: localhost
        metadata:
          gate_one_test:
            "666"
          gate_two_test:
            "999"
        tags:
          - gate_test-1
          - gate_test-2
          - gate_test-3

# 数据库 orm 配置
jimmer:
  dialect: org.babyfish.jimmer.sql.dialect.MySqlDialect
  show-sql: true
  pretty-sql: true
  database-validation-mode: ERROR

# 程序启动端口
server:
  port: 1179